@import '~bulma/bulma.sass';

main {
  background-color: black;
  width: 100%;
  
}

.central-body {
  width: 85%;
  margin: auto;
  margin-bottom: 70px;
  background-color: white;
  padding: 100px 0;
}

.home-body {
  display: flex;
  align-items: center;
  width: 85%;
  padding: 100px 0;
}



.hero-carousel {
  display: block;
  background-color: black;
  
  width: 100%;
  height: auto;
  max-height: 667px;
  max-width: 1270px center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 1px;
  padding: 20px;
  padding-top: -10px;

}

// // nav 
.navbar {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: white;
  color: black;
  width: 85%;
  margin: auto;
  padding: 0 10px 0 10px;
  font-size: 14px;

  .navbar-menu {
    padding: 20px 0 20px 0;
  }

  .navbar-item {
    display: flex;
    margin-right: auto;
  }

  button {
    margin-right: 20px;
  }
  .logo-image{
    
    margin-top: 10px;
    padding-left: 5px;
}
  
}

// homepage 

.hero {
  margin-bottom: 195px;
  align-items: center;

}

.flex-div {
  display: flex;
  flex-direction: column;

  
  .block-form {
    display: flex;
    flex-direction: column;

    .profile-pic {
      width: 100px;
    }
  }

}

.new-crop {
  display: flex;
  align-items: center;

  .flex-div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    .add-crop-form {
      display: flex;
      flex-direction: column;
      .block-form {
        // display: flex;
        // flex-direction: column;
      }
    }

  }

  // .add-crop-form {

  // }
}

// AUTH 

.register-page {
  width: 40%;
  margin: auto;
  padding: 10px;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
}

.login-page {
  width: 40%;
  margin: auto;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  p {
    font-size: 11px;
  }

  .or {
    text-align: center;
    margin: 10px;
  }

}

.register-form {
  width: 250px;

  .block-form {
    width: 100%;
    margin-bottom: 5px;
  }

}

// profile show page::after

.profile-show {
  width: 60%;
  align-items: center;
  main {
    width: 90vw;
    margin: 4rem auto 0 auto;
  
  }

  .flex-div {
    flex-direction: column;

  }

  .profile-container {
    margin: auto;

  }
}

//  INDEX PAGE

.index-page {
  display: flex;
  margin: auto;
  padding-bottom: 10px;

  .top-banner {
    display: flex;
  }

  .index-header {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
  }

  .index-header {
    p {
      line-height: 1.5;
      padding: 20px 0 20px 0;
    }
  }

  // .all-crops {
  //   display: flex;
  //   flex-direction: column;
  //   margin: auto;
  //   width: 90%;
  // }

  .crops-wrapper {
    // width: 90%;
    display: flex;

    .index-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background: black;
      margin: auto;
    }
    .index-item {
      width: 33.33%;
      height: width;
    }

    // img {
    //   width: 100%;
    //   height: width;
    // }
  }
  // INDEX PAGE HOVER TITLE
  .hvrbox .hvrbox-layer_slidedown {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hvrbox:hover .hvrbox-layer_slidedown,
  .hvrbox.active .hvrbox-layer_slidedown {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }


// CONTACT / ABOUT

.flex-div-about {
  display: flex;
  width: 90%;
}

// .stores {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   margin-top: 20px;
//   width: 33.3%;

//   .stores-item {
//     display: flex;
//     flex-direction: column;
//     width: 40%;
//     justify-content: space-around;
//     margin-bottom: 20px;
//     height: auto;
//     font-size: 15;

//     h1 {
//       text-emphasis: bold;
//       padding: 15px 0 15px 0;
//     }

//     p {
//       padding: 10px 0;
//     }
//   }
// }


//media queries for index pages
@media only screen and (max-width: 800px) {
  .index-list li {
    width: 49%;
  }
  nav ul {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .central-body {
    margin: 0px;
  }

  .index-list li {
    width: 100%;
    margin: 0;
  }
  nav ul, nav .nav-button {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 625px) {
  nav ul {
    width: 100%;
  }
}
}